Options +FollowSymLinks

# Turn on the rewrite engine
RewriteEngine  on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule event/([A-Za-z-\s0-9]+)$ events-details.php?event=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]